<!-- TODO fix css -->
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div id="user_nav">
	<h1> Sign in with your prefered mehtod</h1>
  <p><%= link_to "Sign in with Developer", "/auth/developer" %></p>
 <p><%= link_to "Sign in with Twitter", "/auth/twitter" %></p>
	<p><%= link_to "Sign in with Facebook", "/auth/facebook" %></p>	
	<p><%= link_to "login", "/auth/identity" %> with a password.</p>

<br/><hr/>
 <%= render 'create' %>	
</div>
